@import '../../components/variables.css';

.page__container {
  margin: 0 auto;
  padding: 10px 2px 40px;
  max-width: var(--max-content-width);
}

.page__primary {
  float: left;
  margin-right: 5%;
  width: 70%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.page__sidebar {
  float: left;
  text-align: right;
  width: 25%;

  @media only screen and (max-width: 768px) {
    text-align: left;
    width: 100%;
  }

  h4 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.homepage__data_title {
  margin-bottom: 0px;
}

.homepage__data_subtitle {
  margin-top: 0;

  a {
    text-decoration: underline;
  }
}

.clear {
  clear: both;
}
