/*================================
  Table Component
----------------------------------*/

@import '../../variables.css';

.table {
  color: #444;
  margin: 20px 0;
  width: 100%;
}

.table th {
  background-color: var(--gray-lighter);
  cursor: pointer;
  padding: 10px;
  text-align: left;
}

.table__even-row { background-color: var(--white-base) }
.table__odd-row { background-color: var(--gray-lightest) }

/*.table__even-row {
  background-color: var(--gray-lightest);
}*/


.table td {
  padding: 10px;
}

.table__sort_icon:after {
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.table__sort_ascending:after  { content: '\2191'; }

.table__sort_descending:after { content: '\2193'; }

.table__sort_none:after  { content: '\2195'; }
