/*================================
  Table Component
----------------------------------*/

.table {
  border: 1px solid #ebebeb;
  color: #444;
  margin: 20px 0;
  width: 100%;
}

.table th {
  cursor: pointer;
  padding: 10px;
  text-align: left;
}

.table td {
  padding: 10px;
}

.table tbody tr:nth-child(odd) {
  background-color: #ececec;
}

.table__sort_icon:after {
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.table__sort_ascending:after  { content: '\2191'; }

.table__sort_descending:after { content: '\2193'; }

.table__sort_none:after  { content: '\2195'; }
