/*================================
  Table Component
----------------------------------*/

.table__component {
  border: 1px solid #ebebeb;
  color: #444;
  margin: 20px 0;
  width: 100%;
}

.table__component th {
  cursor: pointer;
  padding: 10px;
  text-align: left;
}

.table__component td {
  padding: 10px;
}

.table__component tbody tr:nth-child(odd) {
  background-color: #ececec;
}

.table__component .sort-icon:after {
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.table__component .sort-ascending:after  { content: '\2191'; }

.table__component .sort-descending:after { content: '\2193'; }

.table__component .sort-none:after  { content: '\2195'; }
