@import '../variables.css';

.navigiation__link {
  display: inline-block;
  padding: 0 20px 3px 0;
  padding-top: 0;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.navigiation__link,
.navigiation__link:active,
.navigiation__link:visited {
  color: var(--brand-color);
}

.navigiation__link:hover {
  color: #eee;
}

.navigiation__link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: var(--white-base);
}

.navigiation__link--highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

.navigiation__spacer {
  color: var(--gray-lightest);
}
