/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.Header {
  /*background: #373277;*/
  background: var(--gray-darker);
  color: #fff;
}

.header__container {
  margin: 0 auto;
  padding: 10px 0 20px 0;
  max-width: var(--max-content-width);
}

.header__brand {
  font-size: 1.5em; /* ~28px */

  span {
    color: var(--brand-color);
  }
}

.header__brand--txt {
  margin-left: 10px;
}

.header__nav {
  font-family: var(--font-family-alt);
  float: right;
  margin-top: 6px;
}

.header__banner {
  font-family: var(--font-family-alt);
  text-align: center;
}

.header__banner--title {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1em;
}

.header__banner--desc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1em;
  margin: 0;
}
