@import '../variables.css';

.header {
  background: var(--gray-darker);
  color: #fff;
}

.header__container {
  margin: 0 auto;
  padding: 10px 0 20px 0;
  max-width: var(--max-content-width);
}

.header__title {
  color: var(--gray-light);
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0 0 10px;
  padding: 0;
}

.header__banner {
  font-family: var(--font-family-alt);
  text-align: center;
}

.header__banner__title {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1em;
}

.header__banner__desc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1em;
  margin: 0;
}
