@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');

:root {

  /*
   * Colors
   * ======================================================================== */

  --white-base:            #ffffff;
  --gray-darker:           color(black lightness(+13.5%)); /* #222 */
  --gray-dark:             color(black lightness(+25%));   /* #404040 */
  --gray:                  color(black lightness(+33.5%)); /* #555 */
  --gray-light:            color(black lightness(+46.7%)); /* #777 */
  --gray-lighter:          color(black lightness(+86.5%)); /* #eee */
  --gray-lightest:         color(black lightness(+92.5%));

  --brand-color-true:      #61dafb;
  --brand-color:           color(var(--brand-color-true) blackness(+13.5%));
  --brand-color-light:     color(var(--brand-color-true) lightness(+13.5%)); /* 92e5fc */

  --ari-color:             #97233F;
  --atl-color:             #A71930;
  --bal-color:             #241773;
  --buf-color:             #00338D;
  --car-color:             #0085CA;
  --chi-color:             #0B162A;
  --cin-color:             #FB4F14;
  --cle-color:             #FB4F14;
  --dal-color:             #B0B7BC;
  --den-color:             #FB4F14;
  --det-color:             #005A8B;
  --gb-color:              #FFB612;
  --hou-color:             #A71930;
  --ind-color:             #002C5F;
  --jac-color:             #006778;
  --kc-color:              #E31837;
  --mia-color:             #008E97;
  --min-color:             #4F2683;
  --ne-color:              #002244;
  --no-color:              #9F8958;
  --nyg-color:             #0B2265;
  --nyj-color:             #203731;
  --oak-color:             #A5ACAF;
  --phi-color:             #004953;
  --pit-color:             #FFB612;
  --sd-color:              #002244;
  --sea-color:             #002244;
  --sf-color:              #AA0000;
  --stl-color:             #002244;
  --tb-color:              #D50A0A;
  --ten-color:             #4B92DB;
  --was-color:             #773141;

  /*
   * Typography
   * ======================================================================== */

  --font-family-base:      'Roboto', 'Menlo', 'HelveticaNeue-Light', sans-serif;
  --font-family-alt:       'Menlo', 'Roboto', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width:     1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min:         480px;  /* Extra small screen / phone */
  --screen-sm-min:         768px;  /* Small screen / tablet */
  --screen-md-min:         992px;  /* Medium screen / desktop */
  --screen-lg-min:         1200px; /* Large screen / wide desktop */

  /*
   * Animations
   * ======================================================================== */

  --animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

}

.clear {
  clear: both;
}

a,
a:active,
a:visited {
  color: var(--gray-dark);
  text-decoration: none;
}

a:hover {
  color: var(--gray-light);
}

/*** TEAM DATA COLORS (TODO: MOVE TO INDIVIDUAL FILE) ***/

.ari {
  background-color: var(--ari-color);
  color: #fdfdfd;
}
.atl {
  background-color: var(--atl-color);
  color: #fdfdfd;
}
.bal {
  background-color: var(--bal-color);
  color: #fdfdfd;
}
.buf {
  background-color: var(--buf-color);
  color: #fdfdfd;
}
.car {
  background-color: var(--car-color);
  color: #fdfdfd;
}
.chi {
  background-color: var(--chi-color);
  color: #fdfdfd;
}
.cin {
  background-color: var(--cin-color);
  color: #fdfdfd;
}
.cle {
  background-color: var(--cle-color);
  color: #fdfdfd;
}
.dal {
  background-color: var(--dal-color);
  color: #fdfdfd;
}
.den {
  background-color: var(--den-color);
  color: #fdfdfd;
}
.det {
  background-color: var(--det-color);
  color: #fdfdfd;
}
.gb {
  background-color: var(--gb-color);
  color: #fdfdfd;
}
.hou {
  background-color: var(--hou-color);
  color: #fdfdfd;
}
.ind {
  background-color: var(--ind-color);
  color: #fdfdfd;
}
.jac, .jax {
  background-color: var(--jac-color);
  color: #fdfdfd;
}
.kc {
  background-color: var(--kc-color);
  color: #fdfdfd;
}
.mia {
  background-color: var(--mia-color);
  color: #fdfdfd;
}
.min {
  background-color: var(--min-color);
  color: #fdfdfd;
}
.ne {
  background-color: var(--ne-color);
  color: #fdfdfd;
}
.no {
  background-color: var(--no-color);
  color: #fdfdfd;
}
.nyg {
  background-color: var(--nyg-color);
  color: #fdfdfd;
}
.nyj {
  background-color: var(--nyj-color);
  color: #fdfdfd;
}
.oak {
  background-color: var(--oak-color);
  color: #fdfdfd;
}
.phi {
  background-color: var(--phi-color);
  color: #fdfdfd;
}
.pit {
  background-color: var(--pit-color);
  color: #fdfdfd;
}
.sd {
  background-color: var(--sd-color);
  color: #fdfdfd;
}
.sea {
  background-color: var(--sea-color);
  color: #fdfdfd;
}
.sf {
  background-color: var(--sf-color);
  color: #fdfdfd;
}
.stl, .la {
  background-color: var(--stl-color);
  color: #fdfdfd;
}
.tb {
  background-color: var(--tb-color);
  color: #fdfdfd;
}
.ten {
  background-color: var(--ten-color);
  color: #fdfdfd;
}
.was {
  background-color: var(--was-color);
  color: #fdfdfd;
}
