@import '../../components/variables.css';

.page__container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.page__title {
  margin-bottom: 0;
}

h6 {
  padding: 0;
  margin: 0 0 25px;
}
