@import '../../variables.css';

.view__nfl_power_rankings--rank-index {
  width: 40px;
}

.formula_details_list li span {
  font-weight: 700;
}

.github__link {
  text-decoration: none;
  font-size: 1.25em; /* ~18px */
}

.github__link,
.github__link:active,
.github__link:visited {
  color: var(--brand-color);
}

.github__link:hover {
  color: var(--gray-dark);
}
